---
import "../../styles/global.css";
import "./style.css";

export type Props = {
  name: string;
  description: string;
  icon: string;
};
const props = Astro.props;
---

<div id="bio">
  <div id="profile">
    <img src={props.icon} alt="icon" loading="lazy" decoding="async" />
    <span id="name">{props.name}</span>
  </div>
  <span id="description">{props.description}</span>
</div>
