#bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.3rem;
}

#profile {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

img {
  width: 6rem;
  height: auto;
}

span {
  font-family: "LINE Seed JP" sans-serif;
  font-style: normal;
  line-height: normal;
  color: var(--foreground);
}

#name {
  font-size: 2.5rem;
  font-weight: bold;
}

#description {
  font-size: 0.9rem;
  font-weight: normal;
  white-space: pre-line;
}
