@import url("https://cdn.jsdelivr.net/npm/line-seed-jp/line-seed-jp.css");

:root {
  color-scheme: light dark;
  --foreground-light: #1a1a1a;
  --foreground-dark: #f4f4f4;
  --background-light: #f4f4f4;
  --background-dark: #1a1a1a;
  --foreground: light-dark(var(--foreground-light), var(--foreground-dark));
  --background: light-dark(var(--background-light), var(--background-dark));
}
